body {
  background-image: url(./todo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#app{

}

h1 {
  font: Arial;
  font-family: sans-serif;
  color: red;
  font-size: 3em;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

span {
font-size: 2em;
}

#highpri {
  colour: red;
}
